*{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body{
  width: 100%;
  min-height: 100vh;
  height: 100%;
  font-size: 20px; /*1rem = 20px*/
  box-sizing: border-box;
}

button,
a{
  all: unset;
  cursor: pointer;
}